<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betamidi</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
</head>
<body>
    <a href="/stores">Home</a>
    <a href="/stores/add">Add a New Store</a>
    <a href="/employees">Employees</a>
    <h1>Employee List</h1>
    <form action="" method="get">
        <% const position=["All","Staff","Supervisor","Manager","CEO"] %>
        <% position.forEach(el => { %>
            <button type="submit" name="position" value="<%= el %>"><%= el %></button>
            <!-- <a href="/employees?position=<%= el %>" name="position"><%= el %></a> -->
        <% }) %>
    </form>
    <table>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Salary</th>
          <th>Store's Code</th>
          <th>Action</th>
        </tr>

        <% result.forEach(element => { %>
        <tr>
            <td><%=`${element.firstName} ${element.lastName}`%></td>
            <td><%=element.position%></td>
            <td><%=element.dataValues.formatSalary%></td>
            <td><%=element.Store.code%></td>
            <td>
                <a href="/stores/<%=element.Store.id%>/employees/<%=element.id%>/delete">Delete</a>
            </td>
        </tr>
        <% }); %>
      </table>
</body>
</html>