<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betamidi</title>
</head>
<body>
    <a href="/stores">Home</a>
    <a href="/stores/add">Add a New Store</a>
    <a href="/employees">Employees</a>
    <h1>Edit Employee</h1>
    <h3>Store Name : <%= result.Store.name %> </h3>
    <% if (errors) { %>
        <% errors.split(';').forEach((el) => { %>
            <p style="color: red"><%= el %></p>
        <% }) %>
    <% } %>
    <form action="" method="post">
        <label>First Name </label><br>
        <input type="text" name="firstName" value="<%= result.firstName %>"><br>
        <label>Last Name</label><br>
        <input type="text" name="lastName" value="<%= result.lastName  %>"><br>
        <label>Date of Birth</label><br>
        <input type="date" name="dateOfBirth" value="<%= formattedDate  %>"><br>
        <label>Education</label><br>
        <select name="education">
            <option disabled selected>Select Education</option>
            <% const education= ["SMA","S1","S2","S3"] %>
            <% education.forEach(element =>{ %>
                <option value="<%=element%>" <%= element == result.education ? 'selected' : '' %>><%=element%></option>
            <% })%>
        </select><br>
        <p>Position:</p>
        <% const position=["Staff","Supervisor","Manager","CEO"] %>
        <% position.forEach(el => { %>
            <input type="radio" name="position" value="<%=el%>" <%= el == result.position ? 'checked' : '' %>>
            <label><%=el%></label>
        <% }) %>
        <br>
        <label>Salary</label><br>
        <input type="number" name="salary" value="<%=result.salary %>"><br>
        <button type="submit" value="edit employee">Edit Employee</button>
      </form>
</body>
</html>